body,
html {
  height: 100%;
}

​ body {
  background-color: #252a34;
  background-image: linear-gradient(to top, #ff2363, #252a34);
}

@media (max-width: 335px) {
  body {
    position: relative;
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
}
